<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Joomla! v1.5 UnitTest Platform</title>
<link rel="stylesheet" type="text/css" href="views/style.css" />
</head>
<body>
<?php

$input =& UnitTestHelper::getProperty('Controller', 'Input');

/* link decorator */
function testLink($infoobj) {
	$pre = $post = $open = $close = '';
	$lbl = $infoobj->testclass;
	if ( JUNITTEST_IS_FRAMEWORK == ($infoobj->is_test & JUNITTEST_IS_FRAMEWORK) ) {
		$ttype = $infoobj->is_test ^ JUNITTEST_IS_FRAMEWORK;
	} else {
		$ttype = $infoobj->is_test;
	}

	if ( $ttype == JUNITTEST_IS_TESTSUITE ) {

# until 'AllTest' issues are resolved
#$infoobj->enabled = false;
#

		$elt = 'h3';
		$css = 'testsuite';
		$lbl = $infoobj->package .': '. $infoobj->basename;
		$post= todoLink($infoobj);
	}
	if ( $ttype == JUNITTEST_IS_TESTCASE ) {
		$elt = 'span';
		$css = 'testcase';

//		if (isset($infoobj->violation)) {
//			$post .= ' <b class="tfail" style="cursor:help" title="Violation of naming schema">!</b>';
//		}
	}

	$args = 'path='. $infoobj->path .'&amp;output='. $infoobj->input->output;
	if ( $infoobj->enabled ) {
		$open  = '<a href="index.php?'.$args.'">';
		$close = '</a>';
	} else {
		if ( $ttype == JUNITTEST_IS_TESTCASE ) {
			$open  = '<del title="Test is disabled">';
			$close = '</del>';
		}
	}

// $lbl .= ' <small><small>'.$infoobj->config.'</small></small>';
	return "<$elt class=\"$css\">".$pre.$open.$lbl.$close.$post."</$elt>" . PHP_EOL;
}

function docLink($infoobj, $file) {
	$fbase = basename($file);
	$label = ucfirst(substr(basename($file, '.txt'), 1+strlen($infoobj->classname)));
	$ahref = sprintf('<a href="%s" title="%s" target="_blank">',
				JUNITTEST_BASE .'/'. $infoobj->dirname .'_files/'. $fbase,
				$fbase);
	$a     = '</a>';
	return $ahref. $label . $a;
}

function todoLink($infoobj) {
	if (file_exists('./'.JUNITTEST_BASE .'/'. $infoobj->dirname . '/TODO.txt')) {
		$link = sprintf('<a class="texception" href="%s" target="_blank">TODO</a>',
				JUNITTEST_BASE .'/'. $infoobj->dirname .'/TODO.txt');
		return '<small title="Things to do">&nbsp;'. $link. '</small>';
	}
	return '';
}
?>

<?php if (JUNITTEST_LISTMODE_HEADER): ?>
	<h1 class="header" onclick="location.href='/unittest/'">
	<span>Joomla! v1.5 UnitTest Platform</span>
	</h1>

	<div id="userconfig">
	<strong>PHP:</strong> <span><?php echo PHP_VERSION; ?></span>
<?php
	if (JUNITTEST_HOME_PHP4 != JUNITTEST_HOME_PHP5) {
		$php4 = 'php4'; $php5 = 'php5';
		if (strpos(JUNITTEST_HOME_PHP4, $_SERVER['HTTP_HOST']) !== false) {
			$php4 = '<b class="tmessage" title="Current environment">PHP4</b>';
		}
		if (strpos(JUNITTEST_HOME_PHP5, $_SERVER['HTTP_HOST']) !== false) {
			$php5 = '<b class="tmessage" title="Current environment">PHP5</b>';
		}
	?>
		&nbsp; switch:
		<span><a class="tpass" href="<?php echo JUNITTEST_HOME_PHP4.'?output='.$input->output; ?>"><?php echo $php4; ?></a></span>
		<span><a class="tpass" href="<?php echo JUNITTEST_HOME_PHP5.'?output='.$input->output; ?>"><?php echo $php5; ?></a></span>
<?php } ?>
	<br />

	<strong>User settings:</strong> <span><?php echo (!JUNITTEST_USERCONFIG) ? '<b class="tfail">missing</b>' : '<b class="tpass">enabled</b>'; ?></span><br />
	<strong>Test reporter:</strong> <span><?php echo $input->output; ?></span><br />
	</div>
<?php endif; ?>

<?php

/* Loop through the tests and print a link for each one */

	$i = 0;
	$l = 0;
	foreach( $tests as $infoobj ) {
		if ($infoobj->enabled) {
			$i++;
		}
		$infoobj->input = &$input;

		echo testLink($infoobj);

		foreach ( $infoobj->docs as $doc ) {
			echo <<<HTML
	&nbsp;<span class="docs"><?php echo docLink($infoobj, $doc); ?></span>

HTML;
		}

	}

if (JUNITTEST_LISTMODE_STATS) {
	$tpos = count(preg_grep("/^JUT\_*/", array_keys(get_defined_constants())));
	$skip = &UnitTestHelper::getProperty('Controller', 'Disabled');
}
?>

</body>
</html>
