<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Joomla! v1.5 UnitTest Platform</title>
	<link rel="stylesheet" type="text/css" href="views/style.css" />
</head>
<body>
	<h1 class="header" onclick="location.href='/unittest/'">
	<span>Joomla! v1.5 UnitTest Platform</span>
	</h1>

	<!-- Loop through the tests and print a link for each one -->
<?php
	foreach( $tests as $unittest ):
		if ( !$unittest->enabled ) {
			continue;
		}
		if ($unittest->is_test == JUNITTEST_IS_TESTSUITE) {
			$css = 'testcasefolder';
		} else {
			$css = 'testcase';
		}
?>
	<div class="<?php echo $css; ?>">
	<a href="index.php?path=<?php echo $unittest->path; ?>"><?php echo $unittest->testclass; ?></a>

	<?php foreach ( $unittest->docs as $doc ): ?>
	<span><?php echo $doc; ?></span>&nbsp;
	<?php endforeach;?>
	</div>
<?php endforeach;?>

</body>
</html>
