/**
 * CSS fï¿½r "setien.shtml" und anderen "index.html" in den
 * testverzeichnissen (LOV Tests, ACL Tests ...)
 */
* html {
	font-size: medium;
}

* html body {
	font-size: 100.1%;
	overflow: auto;
}

body {
	font-family: Verdana, Arial, sans-serif;
	background-color: #303030;
	color: #f0f0f0;
	margin: 2em 4% 1em 4%;
}

/* area */
h1.Header {
	padding: 0em;
	clear: both;
}

#Content {
	padding: 0em;
	clear: both;
}

#Footer {
	padding: 0em;
	clear: both;
	padding-top: 1ex;
}

/* HTML elements */
h1, p, div, li, a {
	color: #f0f0f0;
}

h1 {
	font-size: 1.45em;
}

h2 {
	font-size: 1.2em;
}

div {
	font-size: 1em;
	line-height: 1em;
}

p {
	font-size: 0.9em;
	line-height: 1.3;
	margin:0.2ex 0;
}

ul {
	font-size: 0.9em;
	margin: 0 0 0 1em;
	padding-left: 1ex;
}

li {
	font-size: 1em;
	line-height: normal;
	margin-top: 0.2em;
	margin-bottom: 0.3em;
}

a {
	font-weight: bold;
	text-decoration: underline;
}

h1 a {
	text-decoration: none;
	border-bottom: 2px solid;
}

a [rel=section] {
	font-weight: normal;
	font-size: 0.8em;
	display: block;
	line-height: normal;
}

xmp, tt, code, samp {
	font: normal 90%/ 1.1 "Lucida Console", "Andale Mono", "Courier New", monospace;
}

pre {
	font: normal 90%/ 1.1 "Lucida Console", "Andale Mono", "Courier New", monospace;
	color: black;
	background: #f0f0f0;
	padding: 0.5ex 0.2ex;
	max-height: 10em;
	overflow: scroll;
}

div.DbgPrint {
	font-size: 10pt;
}

/* Classes */
.MainContent {
	font-size: 10pt;
	line-height: normal;
}

.contentGroup {
	float: left;
	margin: 0.5em;
	min-width: 7em;
	width: 27%;
	background-color: #606060;
	padding: 1ex 1em 0em 0em;
}

/* Contextual selectors */
.contentGroup h2 {
	position: absolute;
	margin-top: -1ex;
	margin-left: -1ex;
	padding: 3px 0.5ex;
	background-color: #505050;
	font-size: 1em;
	font-weight: bold;
	border: 1px outset;
	border-right: none;
	border-bottom: none;
}

.contentGroup ul { /* das schiebt die abs. pos H2 nach unten */
	padding-bottom: 1em;
}

.contentGroup h2+p,.contentGroup h2+ul,.contentGroup h2+h3 {
	margin-top: 1.1em;
}

.contentGroup h3 {
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 0 0 0 1ex;
}

/* und noch ein paar ie haxx */
* html #Content ul {
	margin-top: 1em;
	margin-left: 2em;
}

* html #Content .contentGroup p {
	margin-top: -2ex;
	margin-left: -3ex;
}

table.testcase {
	width: 100%;
	margin-top: 1ex;
	border: 1px solid white;
	border-collapse: collapse;
}

table.testcase th,
table.testcase td {
	text-align: left;
	vertical-align: top;
	font-size: 0.9em;
	padding: 0.2ex 0.5ex;
}

table.testcase th {
	border: 1px solid;
	background-color: #505050;
	width: 20%;
}

table.testcase thead th {
	background-color: #606060;
	font-size: 1em;
	padding: 0.5ex;
}

table.testcase td {
	border-bottom: 1px solid;
	width: 80%;
}

tr.phperror th {
	background: #CC0000;
	text-align: right;
}
tr.phperror td {
	text-align: right;
}

tbody.methods-summary td tt {
	font-family: "Lucida Console", "Andale Mono", "Courier New", monospace;
}

div.tests-total {
	line-height: 1.4;
	color: white;
	padding: 0.5ex 1ex;
	margin-bottom: 0.5ex;
	background-color: #606060;
	border: 1px solid;
}

/* .pass      { background: #61BF1A; } */ /* Joomla-green  */
/* .fail      { background: #ED2E38; } */ /* Joomla-red    */
/* .exception { background: #EBAD14; } */ /* Joomla-orange */
/* .message   { background: #578AD6; } */ /* Joomla-blue   */

div.fail {
	background: #CC0000;
	border-top:none;
}
span.fail, b.fail {
	background: #CC0000;
	color: white;
	padding-left: 0.5ex;
	padding-right: 0.5ex;
}

div.pass {
	background: #669900;
	border-top:none;
}
span.pass, b.pass {
	background: #669900;
	color: white;
	padding-left: 0.5ex;
	padding-right: 0.5ex;
}

tr.skip th {
	background: #FDD000;
	color: #303030;
}
tr.skip strong {
	color: #FDD000;
}

span.skip, b.skip,
span.miss, b.miss {
	background: #FDD000;
	outline: 2px solid #FDD000;
	color: #303030;
	padding-left: 0.5ex;
	padding-right: 0.5ex;
}
.skip[title],
.miss[title] {
	outline: 1px solid #CC0000;
}

div.exception {
	background: black;
	color: #FDD000;
}
span.exception, b.exception {
	background: #FDD000;
	outline: 2px solid #FDD000;
	color: #303030;
	padding-left: 0.5ex;
	padding-right: 0.5ex;
}

.tests-total span {
	outline: 1px solid white;
}

dl.event-trace {
	font-size: 80%;
}
dl.event-trace dd.arg {
	display:inline;
	margin-left:0;
	padding-left:1em;
}
