@CHARSET "UTF-8";

html {
    font: normal small 'trebuchet ms',verdana,arial,helvetica,sans-serif;
}

body {
    font-size: 100.1%;
    color: #596F80;
    padding: 1.0em;
}

h1.header {
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	padding: 0 0 0 130px;
	height: 80px;
	cursor: pointer;
}

h1.header span {
	line-height:2em;
}

.testcase, .pass, .fail, .exception, .message {
    border-bottom: 1px solid #ccc;
    padding: 0.2em;
}

.pass      { color: #4D9D15; }
.fail      { color: #E52929; }
.exception { color: #FC8E30; }
.message   { color: #0F6DAB; }

.testcasefolder{
    border-bottom: 3px solid #aaa;
    background: #eee;
    font: 1.3em arial,helvetica,sans-serif;
    padding: 0.2em;
    font-weight: bold;
}

.footer_fail, .footer_pass {
	color: white;
	padding: 1.0em;
	margin-top: 0.5em;
	background: green;
}

.footer_fail {
	background: red;
}

.footer_footer {
	margin-top: 0.5em;
}

.message {
	background: #ccc;
}

.fail {
	color: white;
	background: red;
}

.exception {
	color: white;
	background: blue;
}