<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param 
			name="width" 
			type="text" 
			size="5" 
			default="0" 
			label="COM_MEDIAGALLERIES_FIELD_WIDTH_LABEL" 
			description="COM_MEDIAGALLERIES_FIELD_WIDTH_DESC" 
		/>
		<param 
			name="height" 
			type="text" 
			size="5" 
			default="0" 
			label="COM_MEDIAGALLERIES_FIELD_HEIGHT_LABEL" 
			description="COM_MEDIAGALLERIES_FIELD_HEIGHT_DESC" 
		/>
		<param 
			name="autostart" 
			type="radio" 
			default="0" 
			label="COM_MEDIAGALLERIES_FIELD_AUTOPLAY_LABEL" 
			description="COM_MEDIAGALLERIES_FIELD_AUTOPLAY_DESC">
				<option value="0">JNO</option>
				<option value="1">JYES</option>		
		</param>	
		<param 
			name="show_embed" 
			type="radio" 
			default="0" 
			label="COM_MEDIAGALLERIES_FIELD_EMBED_CODE_LABEL" 
			description="COM_MEDIAGALLERIES_FIELD_EMBED_CODE_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>		
		</param>	

		<!-- Reviews -->	
		<param 
			name="@spacer" 
			type="spacer" 
			default="" 
			label="" 
			description="" 
		/>	
		<param 
			name="allow_comments" 
			type="radio" 
			default="1" 
			label="COM_MEDIAGALLERIES_FIELD_ALLOW_COMMENTS_LABEL" 
			description="COM_MEDIAGALLERIES_FIELD_ALLOW_COMMENTS_DESC">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
		</param>
		
		<!-- Display -->
		<param 
			name="@spacer" 
			type="spacer" 
			default="" 
			label="" 
			description="" 
		/>			
		<param 
			name="style" 
			type="filelist" 
			default="default.css" 
			label="COM_MEDIAGALLERIES_FIELD_STYLE_LABEL" 
			description="COM_MEDIAGALLERIES_FIELD_STYLE_DESC" 
			directory="components/com_mediagalleries/assets" 
			filter=".css" 
			exclude="" 
			stripext="" 
			hide_default="true" />
	</params>
</config>