<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="width" type="text" size="5" default="0" label="Width" description="Default width, (0) style default" />
		<param name="height" type="text" size="5" default="0" label="Height" description="Default height, (0) style default" />
		<param name="autostart" type="radio" default="0" label="Autoplay" description="Automatically Start video">
				<option value="0">No</option>
				<option value="1">Yes</option>		
		</param>	
		<param name="show_embed" type="radio" default="0" label="Embed Code" description="Show/Hide video embed code">
			<option value="0">Hide</option>
			<option value="1">Show</option>		
		</param>	

		<!-- Reviews -->	
		<param name="@spacer" type="spacer" default="" label="" description="" />	
		<param name="allow_comments" type="radio" default="1" label="Allow Comments" description="Allow Comments">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		
		<!-- Display -->
		<param name="@spacer" type="spacer" default="" label="" description="" />			
		<param name="style" type="filelist" default="default.css" label="Style" description="Select default CSS file" 
			directory="components/com_jmultimedia/assets" filter=".css" exclude="" stripext="" hide_default="true" />
	</params>
</config>