/** COLS */
.full {
	width:100%;
	clear:both;
	float:none;
}
.full, .half, .one3, .two3, .one4, .three4 {
	margin:0;
	border:0;
	float:left;
}
.half	{ width:50%; }
.one3	{ width:33%; }
.two3	{ width:66%; }
.one4	{ width:25%; }
.three4	{ width:75%; }

/** PB */
.progress-bar{
	height:30px;
	overflow:hidden;
	position:relative;
	width:99%;
	marging: 0 auto;
	text-align:center;
	border: groove #000 1px;
	clear:both;
}
.progress-bar .progress{
	height:30px;
	position:absolute;top:0;left:0;
	background: #a0a0FF;
	border: none;
	z-index:1;
}
.progress-bar .info{
	width: 100%;
	text-align:center;
	vertical-align:middle;
	position:absolute; top:20%;
	color:#000; font-weight:bold;
	border: none;
	z-index:2;
}


div.projects{
	width : 100%;
}

	div.projects h1{
		font-size : 24px;
		margin-bottom : 10px;
	}

	div.projects .projects-frame{
		border : 1px solid #dddddd !important;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px; 
		border-radius : 3px;
	}

	div.projects .projects-content{
		padding: 10px;
	}
	
	div.projects .projects-space{
		margin: 0px 5px 20px;
	}

	div.projects .projects-info{
		margin : 0px 0px 0px 5px !important;
		padding : 0 !important;
	}

		div.projects ul.projects-info li{
			list-style : none;
		}
		
			div.projects ul.projects-info li div.projects-info-key{
				width : 150px;
				float : left;
				clear : right;
				overflow : hidden;
			}
				
			div.projects ul.projects-info li div.projects-info-data{
			}

	/************************ 2-columns layout ****************************/
	div.projects div.projects-left-column{
		width : 65%;
		overflow : hidden;
		float : left;
		clear : right;
		/*border-right : 1px solid black;*/
	}
	
		div.projects div.projects-left-column	div.blog{
			overflow : hidden;
		}

			div.projects div.projects-left-column div.item{
				border : 1px solid #dddddd;
			  -moz-border-radius: 3px;
  			-webkit-border-radius: 3px; 
				border-radius : 3px;
				margin-bottom : 10px;		
			}
		
	div.projects div.projects-right-column{
		width : 34%;
		overflow : hidden;
		float : right;
	}	
	
	dd, dt{
	display:inline;
	}
	
	th{
	 background-color:gray;
	}
	
	
/* begin css tabs */
 
ul.tabnav { 
text-align: left;
margin: 1em 0 1em 0;
font: bold 11px verdana, arial, sans-serif; 
border-bottom: 1px solid #226699; 
list-style-type: none;
padding: 3px 10px 3px 10px; 
}
 
ul.tabnav li { /* do not change */
display: inline;
}
 
body.tab1 li.tab1, body.tab2 li.tab2{
border-bottom: 1px solid #fff;
background-color: #fff;
}
 
body.tab1 li.tab1 a, body.tab2 li.tab2 { /* settings for selected tab link */
background-color: #fff; 
color: #000; 
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}
 
ul.tabnav li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #269; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #cfc; /* set unselected tab background color as desired */
color: #666; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

 
/* end css tabs */