/** COLS */
.full {
	width:100%;
	clear:both;
	float:none;
}
.full, .half, .one3, .two3, .one4, .three4 {
	margin:0;
	border:0;
	float:left;
}
.half	{ width:50%; }
.one3	{ width:33%; }
.two3	{ width:66%; }
.one4	{ width:25%; }
.three4	{ width:75%; }

/** PB */
.progress-bar{
	height:30px;
	overflow:hidden;
	position:relative;
	width:99%;
	marging: 0 auto;
	text-align:center;
	border: groove #000 1px;
	clear:both;
}
.progress-bar .progress{
	height:30px;
	position:absolute;top:0;left:0;
	background: #a0a0FF;
	border: none;
	z-index:1;
}
.progress-bar .info{
	width: 100%;
	text-align:center;
	vertical-align:middle;
	position:absolute; top:20%;
	color:#000; font-weight:bold;
	border: none;
	z-index:2;
}


div.projects{
	width : 100%;
}

	div.projects h1{
		font-size : 24px;
		margin-bottom : 10px;
	}

	div.projects .projects-frame{
		border : 1px solid #dddddd !important;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px; 
		border-radius : 3px;
	}

	div.projects .projects-content{
		padding: 10px;
	}
	
	div.projects .projects-space{
		margin: 0px 5px 20px;
	}

	div.projects .projects-info{
		margin : 0px 0px 0px 5px !important;
		padding : 0 !important;
	}

		div.projects ul.projects-info li{
			list-style : none;
		}
		
			div.projects ul.projects-info li div.projects-info-key{
				width : 150px;
				float : left;
				clear : right;
				overflow : hidden;
			}
				
			div.projects ul.projects-info li div.projects-info-data{
			}

	/************************ 2-columns layout ****************************/
	div.projects div.projects-left-column{
		width : 65%;
		overflow : hidden;
		float : left;
		clear : right;
		/*border-right : 1px solid black;*/
	}
	
		div.projects div.projects-left-column	div.blog{
			overflow : hidden;
		}

			div.projects div.projects-left-column div.item{
				border : 1px solid #dddddd;
			  -moz-border-radius: 3px;
  			-webkit-border-radius: 3px; 
				border-radius : 3px;
				margin-bottom : 10px;		
			}
		
	div.projects div.projects-right-column{
		width : 34%;
		overflow : hidden;
		float : right;
	}	
	
	dd, dt{
	display:inline;
	}
	
	th{
	 background-color:gray;
	}
	
	/***********************tab view ********************/
	
	div.TabView div.Tabs {
  height: 24px;
  overflow: hidden;
}

div.TabView div.Tabs a {
  float: left;
  display: block;
  width:  90px;
  text-align: center;
  height:      24px;
  line-height: 28px;
  vertical-align: middle;
  background: url('/img/tab-view/tabs.png') no-repeat -2px -1px;
  text-decoration: none;
  font-family: "Times New Roman", Serif;
  font-weight: 900;
  font-size: 13px;
  color: #000080;
}

div.TabView div.Tabs a:hover, div.TabView div.Tabs a.Active {
  background: url('tabs.png') no-repeat -2px -31px;
}

div.TabView div.Pages {
  clear: both;
  border: 1px solid #404040;
  overflow: hidden;
}

div.TabView div.Pages div.Page {
  height: 100%;
  padding: 0px;
  overflow: hidden;
}

div.TabView div.Pages div.Page div.Pad {
  padding: 3px 18px;
}

/*********************end of tab view****************************/