<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$ -->
<form>
	<fields>
		<field name="id" type="hidden"
			default="0"
			filter="int"
			readonly="true"
			required="true"
		/>

		<field name="menutype" type="text"
			class="inputbox"
			description="Menus_Menu_Menutype_Desc"
			label="Menus_Menu_Menutype_Label"
			maxlength="24"
			required="true"
			size="30"
		/>

		<field name="title" type="text"
			class="inputbox"
			label="Menus_Menu_Title_Label"
			description="Menus_Menu_Title_Desc"
			maxlength="48"
			required="true"
			size="30"
		/>

		<field name="description" type="text"
			class="inputbox"
			description="Menus_Menu_Description_Desc"
			id="menudescription"
			label="Menus_Menu_Description_Label"
			maxlength="255"
			size="30"
		/>
	</fields>
</form>