/* custom stuff */
/* Adapted from template_css.css on http://dev.joomla.org by Chris Davenport (chris.davenport@joomla.org)
/* Modifications indicated by [CPD] are for use in http://api.joomla.org mainly so it works in IE6 */

html {
  height: 100%;
  margin-bottom: 1px;
}

:focus { -moz-outline-style: none; }

form {
  margin: 0;
  padding: 0;
}

body {
	margin: 0px 0px 0px 0px;
	height: 100%;
	font-size: 76%;
}

a:link, a:visited {
	color: #1B57B1; text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #00c;	text-decoration: underline;
	font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: left;
}

div, p, table, td, th {
	font-family: Tahoma,Helvetica,Arial,sans-serif;
	line-height: 1.3em;
	font-size: 1em;
	color: #333;
}

span.pathway {
	display: block;
	margin-bottom: 15px;
}


div.componentheading {
  padding-left: 0px;
}

h3, .componentheading, table.moduletable th {
  margin: 0;
  font-weight: bold;
  font-family: Helvetica ,Arial,sans-serif;
  font-size: 1em;
  border-bottom: 1px solid #ccc;
  color: #333;
  padding-left: 0px;
	margin-bottom: 10px;
	text-align: left;
}

a.readon {
	margin-top: 10px;
	display: block;
	float: left;
	padding-right: 20px;
	line-height: 14px;
	height: 16px;
}

a.mainlevel:link, a.mainlevel:visited {
	padding-left: 17px;
	font-weight: bold;
	background: url(images/jos_bullet.png) no-repeat
}

a.mainlevel:hover {
	font-weight: bold;
}

h1 {
	padding: 0;
	font-family:Helvetica ,Arial,sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	vertical-align: bottom;
	color: #666;
	text-align: left;
	width: 100%;	
}

h2, .contentheading {
	padding: 0;
	font-family:Helvetica ,Arial,sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	vertical-align: bottom;
	color: #1B57B1;
	text-align: left;
	width: 100%;
}

table.blog td.contentheading {
  padding-top: 15px;
}

table.contenttoc {
  margin: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

table.contenttoc td {
  padding: 0 5px;
}


td.buttonheading {
	
}

td.sectiontableheader {
  background: #efefef;
  color: #333;
  font-weight: bold;
  padding: 4px;
  border-right: 1px solid #fff;
}

tr.sectiontableentry1 td, tr.sectiontableentry2 td {
  padding: 4px;
}

td.sectiontableentry1, td.sectiontableentry2{
  padding: 3px;
}

table.contentpaneopen, table.contentpane {
  width: 100%;
}

table.moduletable {
  width: 100%;
  margin-bottom: 15px;
}

table.moduletable td {
	padding: 8px 0;
}

div.moduletable {
  margin-bottom: 15px;
}

.small {
	font-size: .90em;
	color: #999;
	font-weight: normal;
	text-align: left;
}

.modifydate {
  height: 20px;
  vertical-align: bottom;
	font-size: .90em;
	color: #999;
	font-weight: normal;
	text-align: left;
}

.createdate {
	height: 20px;
	vertical-align: top;
	font-size: .90em;
	color: #999;
	font-weight: normal;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 0px;

}

.clr {
	clear: both;
}

#page_bg {
	height: 100%; 
	padding: 10px 0;
	margin-bottom: 1px;
}

div.mosimage {
  margin: 5px;
}

div.mosimage_caption {
  font-size: .90em;
  color: #666;
}

div.center {
  text-align: center;
  align: center;
}

/** some content stuff **/

div#wrapper {
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		min-width: 750px;
		max-width: 1050px;
		_width: expression(((document.body.clientWidth)) < 750? "750px": ((document.body.clientWidth)) > 1050? "1050px": "auto" );
}

div#wrapper_r {
	padding-bottom: 8px;
}

div#tabarea {
	background: url(images/jos_tab_bg.png) 0 0 repeat-x;
	margin: 0 10px;
}

div#tabarea_l {
	background: url(images/jos_tab_cap.png) 0 0 no-repeat;
	padding-left: 1px;
}

div#tabarea_r {
	height: 42px;
	background: url(images/jos_tab_cap.png) 100% 0 no-repeat;
	padding-right: 1px;
}

div#footer_r div {
	text-align: center;
	padding-top: 8px;
	font-size: .90em;
	color: #aaa;
}

div#footer_r a:link, div#footer_r a:visited  {
	color: #999;
}


table.adminform textarea {
  width: 540px;
  height: 400px;
  font-size: 1em;
  color: #000099;
}

div.search input {
	width: 145px;
	border: 1px solid #ccc;
	margin: 15px 0 10px 0;
	
}

/** css buttons **/
#css_buttons {
	width: auto;
	white-space: nowrap;
	float: right;
	margin-top: 85px;
	margin-right: 20px;
}

#css_buttons a {
	margin-right: 1px;
}


/** tab menu stuff **/

#tabarea li a {
	background: url(images/jos_tab_off_end.png) no-repeat;
}

#tabarea li.active_menu {
	background: url(images/jos_tab_on_end.png) no-repeat;
}

#tabmenu li a {
	background-position: 100% 0; 
}

#greymenu {
	white-space: nowrap;
}

#greymenu li a {
	background-position: 0 0;
}

#tabarea a:link, #tabarea a:visited {
	font-family: Arial, Helvetica, sans-serif;
  font-size: .94em;
  font-weight: bold;
	float:left;
  display:block;
  padding: 4px 20px 11px 20px;
  color: #fff;
  text-decoration: none;
}

#tabarea a:hover {
  color: #ddd;
}

#tabmenu {
	padding: 0;
	white-space: nowrap;
	float: left;
}

#tabmenu ul {
	float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabmenu li {
	float: left;
	margin: 0;
	padding: 0;
}



/* grey menu */
#greymenu {
	padding: 0;
	white-space: nowrap;
	float: right;
}

#greymenu ul {
	float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

#greymenu li {
	float: left;
	margin: 0;
	padding: 0;
}


/* top module stuff */
#topmodule {
	padding: 8px 10px;
	width: auto !important;
	width: 100%;
}

#whitebox {
	margin: 0 18px 0px 18px;
	background: #fff;
/*[CPD]	width: auto !important;
	width: 100%;	*/
}

#whitebox div {
	text-align: left;
}

#whitebox_t {
	background: url(images/jos_greyline.png) 0 0 repeat-x;
}

#whitebox_tl {
	background: url(images/jos_box_white_tl.png) 0 0 no-repeat
}

#whitebox_tr {
	height: 8px;
	overflow: hidden;
	background: url(images/jos_box_white_tr.png) 100% 0 no-repeat;
}

#whitebox_m {
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
/*[CPD]	width: auto !important;
	width: 100%;			*/
	padding: 1px 8px;
}

#whitebox_b {
	background: url(images/jos_greyline.png) 0 100% repeat-x;
}

#whitebox_bl {
	background: url(images/jos_box_white_bl.png) 0 0 no-repeat;
}

#whitebox_br {
	height: 8px;
	overflow: hidden;
	background: url(images/jos_box_white_br.png) 100% 0 no-repeat;
}

#area {
	padding-top: 10px;
}

div.module-grey h3, div.moduletable-grey h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #333;
	margin: -2px -8px 0 -8px;
	border-bottom: 1px solid #cdcdcd;
	padding-left: 10px;
	padding-bottom: 2px;
}

div.module-grey, div.moduletable-grey {
	background: url(images/jos_box_grey_tl.png) 0 0 no-repeat;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
}

div.module-grey div, div.moduletable-grey div {
	background: url(images/jos_box_grey_tr.png) 100% 0 no-repeat;
}

div.module-grey div div, div.moduletable-grey div div {
	background: url(images/jos_box_grey_bl.png) 0 100% no-repeat;
}

div.module-grey div div div, div.moduletable-grey div div div {
	background: url(images/jos_box_grey_br.png) 100% 100% no-repeat;
	padding: 8px;
	width: auto !important;
	width: 100%;
}

div.module-grey div div div div, div.moduletable-grey div div div div {
	background: none;
/*[CPD]	padding: 1px;	*/
	padding: 0px;	/* [CPD] */
}

div.module-grey ul, div.moduletable-grey ul {
margin: 10px 0;
padding-left: 20px;
}

div.module-grey ul li a:link, div.module-grey ul li a:visited {
	font-weight: bold;
}

div.moduletable-grey ul li a:link, div.module-greytable ul li a:visited {
	font-weight: bold;
}

div.module-grey a.mainlevel:link, div.module-grey a.mainlevel:visited  {
	background: none;
	padding-left: 0;
}

div.module-grey ul li a:hover {
	font-weight: bold;
}

div.moduletable-grey ul li a:hover {
	font-weight: bold;
}

ul.submenu ul {
	margin: 0 0 5px 0;
}


#leftcolumn {
	padding: 0;
	margin: 0;
	width: 20%;
	float:left;
}

#maincolumn {
	margin-left: 20%;
	float: none;
	padding-left: 25px;
/*[CPD]	width: auto !important;
	width: 100%;		*/
}

table.blog span.article_seperator {
	display: block;
	height: 20px;
}

table.nopad {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}

table.nopad td.middle_pad {
	width: 20px;
}

/* tabs */


/* red */
#tabarea li.red {
	background: url(images/jos_tab_off_red.png) 0 0 repeat-x;
}

#tabarea li.red_active_menu a {
	background: url(images/jos_tab_on_red.png) 0 0 repeat-x;
}

/* purple */
#tabarea li.purple {
	background: url(images/jos_tab_off_purple.png) 0 0 repeat-x;
}

#tabarea li.purple_active_menu a {
	background: url(images/jos_tab_on_purple.png) 0 0 repeat-x;
}

/* blue */
#tabarea li.blue {
	background: url(images/jos_tab_off_blue.png) 0 0 repeat-x;
}

#tabarea li.blue_active_menu a {
	background: url(images/jos_tab_on_blue.png) 0 0 repeat-x;
}

/* green */
#tabarea li.green {
	background: url(images/jos_tab_off_green.png) 0 0 repeat-x;
}

#tabarea li.green_active_menu a {
	background: url(images/jos_tab_on_green.png) 0 0 repeat-x;
}

/* yellow */
#tabarea li.yellow {
	background: url(images/jos_tab_off_yellow.png) 0 0 repeat-x;
}

#tabarea li.yellow_active_menu a {
	background: url(images/jos_tab_on_yellow.png) 0 0 repeat-x;
}

/* orange */
#tabarea li.orange {
	background: url(images/jos_tab_off_orange.png) 0 0 repeat-x;
}

#tabarea li.orange_active_menu a {
	background: url(images/jos_tab_on_orange.png) 0 0 repeat-x;
}

/* grey */
#tabarea li.grey {
	background: url(images/jos_tab_off_grey.png) 0 0 repeat-x;
}

#tabarea li.grey_active_menu a {
	background: url(images/jos_tab_on_grey.png) 0 0 repeat-x;
}

/* links */
#tabmenu li.red_active_menu a:link, #tabmenu li.blue_active_menu a:link, #tabmenu li.purple_active_menu a:link, #tabmenu li.green_active_menu a:link, #tabmenu li.grey_active_menu a, #tabmenu li.yellow_active_menu a, #tabmenu li.orange_active_menu a {
	color: #fff;
}

#tabmenu li.red_active_menu a:visited, #tabmenu li.blue_active_menu a:visited, #tabmenu li.purple_active_menu a:visited, #tabmenu li.green_active_menu a:visited, #tabmenu li.grey_active_menu a, #tabmenu li.yellow_active_menu a, #tabmenu li.orange_active_menu a {
	color: #fff;
}

#tabmenu li.red_active_menu a:hover, #tabmenu li.blue_active_menu a:hover, #tabmenu li.purple_active_menu a:hover, #tabmenu li.green_active_menu a:hover, #tabmenu li.grey_active_menu a:hover, #tabmenu li.yellow_active_menu a:hover, #tabmenu li.orange_active_menu a:hover {
	color: #ccc;
}


/* content styles */

a#corner {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 90px;
	width: 100px;
	background: url(images/joomla_donate.png) top right no-repeat !important;
	background: none;
	text-indent: -999em;
	text-decoration: none;
	cursor: hand;
}


table.summary td {
	padding: 0 10px;
	color: #1B57B1
}

table.summary li {
	margin-bottom: 5px;
}

table.summary td h2 {
	margin-top: 0;
	padding-top: 0;
	line-height: 150%;
}

table.summary td.bullets {
	padding-left: 30px;
	text-align: left;
}

table.roadmap {
	border-collapse: collapse;
	border: 1px solid #ccc;
}

table.roadmap td, table.roadmap th {
	border: 1px solid #ccc;
}

table.roadmap th {
	background: #ddd;
	padding: 5px;
}

table.roadmap td {
	background: #f7f7f7;
	padding: 5px;
}

div.sponsorlogo {
	float: left;
	width: 200px;
	text-align: right;
}

div.sponsorblurb {
	margin-left: 200px;
	margin-bottom: 20px;
}

div.sponsorblurb h3{
	font-size: 1.2em;
}

span.underline {
	display:block;
	height: 1px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

td.faq_entry li {
	margin-bottom: 20px;
}

td.faq_entry h2, td.introtext h2, td.searchbox {
	display: inline;
	margin: 0;
}

td.faq_entry p {
	padding-top: 5px;
}

pre {
	font-size: 11px;
	border: 1px solid #ddd;
	border-left: 10px solid #d5dce7;
	padding: 10px;
	background: #f6f6f6;
}

form div.search-center {
	align: center;
}
