<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="bookmarking"
		label="COM_SOCIAL_Config_Bookmarking_Label"
		description="COM_SOCIAL_Config_Bookmarking_Label"
		>
		<field
			name="sharing_style"
			type="list"
			default="0"
			label="COM_SOCIAL_ICON_STYLE"
			description="COM_SOCIAL_ICON_STYLE_DESC">
			<option
				value="0">COM_SOCIAL_ICONS_ONLY</option>
			<option
				value="1">COM_SOCIAL_ICONS_AND_TEXT</option>
			<option
				value="2">COM_SOCIAL_TEXT_ONLY</option>
		</field>

		<field
			name="sharing_heading"
			type="list"
			default="0"
			label="COM_SOCIAL_SHARE_HEADING"
			description="COM_SOCIAL_SHARE_HEADING_DESC">
			<option
				value="0">COM_SOCIAL_DO_NOT_SHOW</option>
			<option
				value="1">COM_SOCIAL_ICON_ONLY</option>
			<option
				value="2">COM_SOCIAL_ICON_AND_TEXT</option>
			<option
				value="3">COM_SOCIAL_TEXT_ONLY</option>
		</field>

		<field
			name="sharing_email"
			type="radio"
			default="1"
			label="COM_SOCIAL_SHARE_EMAIL"
			description="COM_SOCIAL_SHARE_EMAIL_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_blinklist"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_BLINKLIST"
			description="COM_SOCIAL_BOOKMARKS_BLINKLIST_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_bloglines"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_BLOGLINES"
			description="COM_SOCIAL_BOOKMARKS_bloglines_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_blogmarks"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_blogmarks"
			description="COM_SOCIAL_BOOKMARKS_blogmarks_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_buzz"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_buzz"
			description="COM_SOCIAL_BOOKMARKS_buzz_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_connotea"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_connotea"
			description="COM_SOCIAL_BOOKMARKS_connotea_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_delicious"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_DELICIOUS"
			description="COM_SOCIAL_BOOKMARKS_DELICIOUS_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_design_float"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_design_float"
			description="COM_SOCIAL_BOOKMARKS_design_float_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_digg"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_DIGG"
			description="COM_SOCIAL_BOOKMARKS_DIGG_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_diigo"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_diigo"
			description="COM_SOCIAL_BOOKMARKS_diigo_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_dotnetkicks"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_dotnetkicks"
			description="COM_SOCIAL_BOOKMARKS_dotnetkicks_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_dzone"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_dzone"
			description="COM_SOCIAL_BOOKMARKS_dzone_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_facebook"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_FACEBOOK"
			description="COM_SOCIAL_BOOKMARKS_FACEBOOK_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_fark"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_fark"
			description="COM_SOCIAL_BOOKMARKS_fark_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_faves"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_faves"
			description="COM_SOCIAL_BOOKMARKS_faves_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_fleck"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_fleck"
			description="COM_SOCIAL_BOOKMARKS_fleck_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_friendfeed"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_friendfeed"
			description="COM_SOCIAL_BOOKMARKS_friendfeed_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_friendsite"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_friendsite"
			description="COM_SOCIAL_BOOKMARKS_friendsite_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_furl"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_FURL"
			description="COM_SOCIAL_BOOKMARKS_FURL_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_google"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_GOOGLE"
			description="COM_SOCIAL_BOOKMARKS_GOOGLE_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_kaboodle"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_kaboodle"
			description="COM_SOCIAL_BOOKMARKS_kaboodle_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_kirtsy"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_kirtsy"
			description="COM_SOCIAL_BOOKMARKS_kirtsy_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_hacker_news"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_hacker_news"
			description="COM_SOCIAL_BOOKMARKS_hacker_news_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_hyves"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_hyves"
			description="COM_SOCIAL_BOOKMARKS_hyves_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_identica"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_identica"
			description="COM_SOCIAL_BOOKMARKS_identica_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_linkedin"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_linkedin"
			description="COM_SOCIAL_BOOKMARKS_linkedin_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_magnolia"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_MAGNOLIA"
			description="COM_SOCIAL_BOOKMARKS_MAGNOLIA_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_maple"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_maple"
			description="COM_SOCIAL_BOOKMARKS_maple_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_mister_wong"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_mister_wong"
			description="COM_SOCIAL_BOOKMARKS_mister_wong_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_mixx"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_mixx"
			description="COM_SOCIAL_BOOKMARKS_mixx_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_myspace"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_myspace"
			description="COM_SOCIAL_BOOKMARKS_myspace_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_netscape"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_netscape"
			description="COM_SOCIAL_BOOKMARKS_netscape_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_netvibes"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_netvibes"
			description="COM_SOCIAL_BOOKMARKS_netvibes_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_netvouz"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_netvouz"
			description="COM_SOCIAL_BOOKMARKS_netvouz_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_newsvine"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_NEWSVINE"
			description="COM_SOCIAL_BOOKMARKS_NEWSVINE_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_nujij"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_nujij"
			description="COM_SOCIAL_BOOKMARKS_nujij_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_ping"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_ping"
			description="COM_SOCIAL_BOOKMARKS_ping_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_plugim"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_plugim"
			description="COM_SOCIAL_BOOKMARKS_plugim_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_posterous"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_posterous"
			description="COM_SOCIAL_BOOKMARKS_posterous_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_propeller"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_propeller"
			description="COM_SOCIAL_BOOKMARKS_propeller_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_reddit"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_REDDIT"
			description="COM_SOCIAL_BOOKMARKS_REDDIT_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_shoutwire"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_shoutwire"
			description="COM_SOCIAL_BOOKMARKS_shoutwire_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_simpy"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_simpy"
			description="COM_SOCIAL_BOOKMARKS_simpy_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_slashdot"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_slashdot"
			description="COM_SOCIAL_BOOKMARKS_slashdot_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_sphere"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_sphere"
			description="COM_SOCIAL_BOOKMARKS_sphere_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_spurl"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_spurl"
			description="COM_SOCIAL_BOOKMARKS_spurl_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_squidoo"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_squidoo"
			description="COM_SOCIAL_BOOKMARKS_squidoo_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_sphinn"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_sphinn"
			description="COM_SOCIAL_BOOKMARKS_sphinn_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_stumbleupon"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_STUMBLEUPON"
			description="COM_SOCIAL_BOOKMARKS_STUMBLEUPON_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_tailrank"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_TAILRANK"
			description="COM_SOCIAL_BOOKMARKS_TAILRANK_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_technorati"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_TECHNORATI"
			description="COM_SOCIAL_BOOKMARKS_TECHNORATI_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_tipd"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_tipd"
			description="COM_SOCIAL_BOOKMARKS_tipd_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_thisnext"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_thisnext"
			description="COM_SOCIAL_BOOKMARKS_thisnext_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_twitter"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_TWITTER"
			description="COM_SOCIAL_BOOKMARKS_TWITTER_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_webride"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_webride"
			description="COM_SOCIAL_BOOKMARKS_webride_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_wists"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_wists"
			description="COM_SOCIAL_BOOKMARKS_wists_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_yahoo_bookmarks"
			type="radio"
			default="0"
			label="COM_SOCIAL_BOOKMARKS_yahoo_bookmarks"
			description="COM_SOCIAL_BOOKMARKS_yahoo_bookmarks_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="sharing_yahoo"
			type="radio"
			default="1"
			label="COM_SOCIAL_BOOKMARKS_YAHOO"
			description="COM_SOCIAL_BOOKMARKS_YAHOO_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset
		name="comments"
		label="COM_SOCIAL_Config_Comments_Label"
		description="COM_SOCIAL_Config_Comments_Label"
		>
		<field
			name="enable_trackbacks"
			type="radio"
			default="0"
			label="COM_SOCIAL_TRACKBACKS_ENABLED"
			description="COM_SOCIAL_TRACKBACKS_ENABLED_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="enable_pings"
			type="radio"
			default="0"
			label="COM_SOCIAL_PINGS_ENABLED"
			description="COM_SOCIAL_PINGS_ENABLED_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="guestcomment"
			type="radio"
			default="1"
			label="COM_SOCIAL_GUEST_COMMENTS_ENABLED"
			description="COM_SOCIAL_GUEST_COMMENTS_ENABLED_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="enable_comment_feeds"
			type="radio"
			default="1"
			label="COM_SOCIAL_COMMENT_FEEDS"
			description="COM_SOCIAL_COMMENT_FEEDS_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="show_name_as"
			type="radio"
			default="1"
			label="COM_SOCIAL_SHOW_NAME_AS"
			description="COM_SOCIAL_SHOW_NAME_AS_DESC">
			<option
				value="0">COM_SOCIAL_USER_NAME</option>
			<option
				value="1">COM_SOCIAL_USER_LOGIN_NAME</option>
		</field>

		<field
			name="show_form"
			type="radio"
			default="1"
			label="COM_SOCIAL_SHOW_FORM"
			description="COM_SOCIAL_SHOW_FORM_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="enable_subject"
			type="radio"
			default="1"
			label="COM_SOCIAL_ENABLE_SUBJECT"
			description="COM_SOCIAL_ENABLE_SUBJECT_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="enable_website"
			type="radio"
			default="1"
			label="COM_SOCIAL_ENABLE_WEBSITE"
			description="COM_SOCIAL_ENABLE_WEBSITE_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="star_file"
			type="list"
			default=""
			label="COM_SOCIAL_RATING_STAR_FILE"
			description="COM_SOCIAL_RATING_STAR_FILE_DESC">
			<option
				value="">COM_SOCIAL_STAR_YELLOW</option>
			<option
				value="star_black">COM_SOCIAL_STAR_BLACK</option>
			<option
				value="star_blue">COM_SOCIAL_STAR_BLUE</option>
			<option
				value="star_green">COM_SOCIAL_STAR_GREEN</option>
			<option
				value="star_orange">COM_SOCIAL_STAR_ORANGE</option>
			<option
				value="star_purple">COM_SOCIAL_STAR_PURPLE</option>
		</field>

		<field
			name="enable_html"
			type="radio"
			default="0"
			label="COM_SOCIAL_COMMENT_HTML_ENABLED"
			description="COM_SOCIAL_COMMENT_HTML_ENABLED_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="enable_gravatar"
			type="radio"
			default="0"
			label="COM_SOCIAL_GRAVATAR_ENABLED"
			description="COM_SOCIAL_GRAVATAR_ENABLED_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="list_order"
			type="radio"
			default="ASC"
			label="COM_SOCIAL_LIST_ORDER"
			description="COM_SOCIAL_LIST_ORDER_DESC">
			<option
				value="ASC">COM_SOCIAL_ORDER_OLDEST_FIRST</option>
			<option
				value="DESC">COM_SOCIAL_ORDER_NEWEST_FIRST</option>
		</field>

		<field
			name="pagination"
			type="list"
			default="0"
			label="COM_SOCIAL_PAGINATION_ENABLED"
			description="COM_SOCIAL_PAGINATION_ENABLED_DESC">
			<option
				value="0">JAll</option>
			<option
				value="5">5</option>
			<option
				value="10">10</option>
			<option
				value="20">20</option>
			<option
				value="50">50</option>
		</field>

		<field
			name="date_format"
			type="list"
			default=""
			label="COM_SOCIAL_DATE_FORMAT"
			description="COM_SOCIAL_DATE_FORMAT_DESC">
			<option
				value="">COM_SOCIAL_SYSTEM_DEFAULT</option>
			<option
				value="JDATE_DDD_DD_MMM_HH_MM_SS_YYYY">Wed 17 Jul 18:00:05 2008</option>
			<option
				value="JDATE_YYYY_MM_DD_HH_MM_SS">2007-06-17 18:00:05</option>
			<option
				value="JDATE_DD_MM_YYYY">17-06-2007</option>
			<option
				value="JDATE_DDDD_DD_MMMM_YYYY">Tuesday 17 July, 2007</option>
			<option
				value="JDATE_DD_MMMM_YYYY">17 July 2007</option>
<!--
	%c = Wed 17 Jul 18:00:05 2008
	%Y-%m-%d %H:%M:%S" = 2007-06-17 18:00:05
	%d-%m-%Y = 17-06-2007
	%A %e %B, %Y = Tuesday 17 July, 2007
	%e %B %Y" = 17 July 2007
 -->


		</field>

		<field
			name="spacer1"
			type="spacer"
			hr="true"
			/>
		<field
			name="notify_comments"
			type="radio"
			default="0"
			label="COM_SOCIAL_COMMENT_NOTIFY"
			description="COM_SOCIAL_COMMENT_NOTIFY_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">COM_SOCIAL_OPTION_ONLY_GUESTS</option>
			<option
				value="2">COM_SOCIAL_OPTION_ANYONE</option>
		</field>
		<field
			name="emailto"
			type="text"
			size="40"
			default=""
			label="COM_SOCIAL_COMMENT_NOTIFY_ADDRESS"
			description="COM_SOCIAL_COMMENT_NOTIFY_ADDRESS_DESC" />

		<field
			name="spacer2"
			type="spacer"
			hr="true"
			/>
		<field
			name="moderate_comments"
			type="radio"
			default="1"
			label="COM_SOCIAL_COMMENTS_MODERATION"
			description="COM_SOCIAL_COMMENTS_MODERATION_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">COM_SOCIAL_OPTION_ONLY_GUESTS</option>
			<option
				value="2">COM_SOCIAL_OPTION_ANYONE</option>
		</field>
	</fieldset>

	<fieldset
		name="permissions"
		label="JConfig_Permissions_Label"
		description="JConfig_Permissions_Desc"
		>

		<field
			name="rules"
			type="rules"
			label="JConfig_Permissions_Label"
			filter="rules"
			component="com_social"
			section="component" />
	</fieldset>
</config>
