<?xml version="1.0" encoding="utf-8"?>
	<!-- $Id$ -->
<form>
	<fields>
		<field name="extension_id" type="hidden"
			default="0"
			readonly="true"
			required="true"
		/>

		<field name="name" type="text"
			class="inputbox"
			description="COM_PLUGINS_FIELD_NAME_DESC"
			label="COM_PLUGINS_FIELD_NAME_LABEL"
			required="true"
			size="30"
		/>

		<field name="enabled" type="list"
			class="inputbox"
			default="1"
			description="COM_PLUGINS_FIELD_ENABLED_DESC"
			label="COM_PLUGINS_FIELD_ENABLED_LABEL"
			size="1"
		>
			<option value="1">JOption_Enabled</option>
			<option value="0">JOption_Disabled</option>
		</field>

		<field name="folder" type="text"
			class="readonly"
			description="COM_PLUGINS_FIELD_FOLDER_DESC"
			label="COM_PLUGINS_FIELD_FOLDER_LABEL"
			readonly="true"
			size="20"
		/>

		<field name="element" type="text"
			class="readonly"
			description="COM_PLUGINS_FIELD_ELEMENT_DESC"
			label="COM_PLUGINS_FIELD_ELEMENT_LABEL"
			readonly="true"
			size="20"
		/>

		<field name="access" type="accesslevel"
			class="inputbox"
			description="JField_Access_Desc"
			label="JField_Access_Label"
			size="1"
		/>

		<field name="ordering" type="ordering"
			class="inputbox"
			default=""
			description="JField_Ordering_Desc"
			label="JField_Ordering_Label"
		/>

		<field name="checked_out" type="text"
			class="inputbox"
			description="COM_PLUGINS_Checkedout_Desc"
			filter="unset"
			label="COM_PLUGINS_Checkedout_Label"
			readonly="true"
			size="6"
		/>

		<field name="checked_out_time" type="text"
			class="inputbox"
			description="COM_PLUGINS_Checkedout_Time_Desc"
			filter="unset"
			label="COM_PLUGINS_Checkedout_Time_Label"
			readonly="true"
			size="6"
		/>

		<field name="params" type="hidden" />
	</fields>
</form>
