body {
	background-color: #EEEEEE;
	margin: 0;
	padding: 0;
}

/* Banner (top bar) classes */

.banner {
	background: url( images/jos_header_t_red.png ) repeat-x;
	padding: 5px;
	height: 110px;
}

.banner-menu {
}

.banner-title {
	text-align: left;
	font-size: 20pt;
	font-weight: bold;
	color: #ffffff;
	margin: .2em;
}

.package-selector
{
	background-color: #DDDDDD;
	border: 1px solid #AAAAAA;
	color: #000090;
}

.field {
	color: #fff;
}
