div.projects{
	width : 100%;
	overflow : hidden;
}

	div.projects h1{
		font-size : 24px;
		margin-bottom : 10px;
	}

	div.projects	.projects-frame{
		border : 1px solid #dddddd !important;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px; 
		border-radius : 3px;
	}

	div.projects div.projects-content{
		padding : 10px;
		overflow : hidden;
	}
	
	div.projects div.projects-space{
		margin-bottom : 10px;
	}

	div.projects ul.projects-info{
		margin : 0px 0px 0px 5px !important;
		padding : 0 !important;
	}

		div.projects ul.projects-info li{
			list-style : none;
		}
		
			div.projects ul.projects-info li div.projects-info-key{
				width : 150px;
				float : left;
				clear : right;
				overflow : hidden;
			}
				
			div.projects ul.projects-info li div.projects-info-data{
			}

	/************************ 2-columns layout ****************************/
	div.projects div.projects-left-column{
		width : 65%;
		overflow : hidden;
		float : left;
		clear : right;
		border-right : 1px solid black;
	}
	
		div.projects div.projects-left-column	div.blog{
			overflow : hidden;
		}

			div.projects div.projects-left-column div.item{
				border : 1px solid #dddddd;
			  -moz-border-radius: 3px;
  			-webkit-border-radius: 3px; 
				border-radius : 3px;
				margin-bottom : 10px;		
			}
		
	div.projects div.projects-right-column{
		width : 34%;
		overflow : hidden;
		float : right;
	}	