div.projects{
	width : 100%;
	overflow : hidden;
}

	div.projects h1{
		font-size : 24px;
		margin-bottom : 10px;
	}

	div.projects	a.aNameItem{
		font-size : 16px;	
	}

	div.projects div.projects-content{
		padding : 10px;
		overflow : hidden;
	}
	
	/************************ 2-columns layout ****************************/
div.projects div.projects-left-column{
		width : 65%;
		overflow : hidden;
		float : left;
		clear : right;
		border-right : 1px solid black;
	}
	
		div.projects div.projects-left-column	div.blog{
			overflow : hidden;
		}

			div.projects div.projects-left-column div.item{
				border : 1px solid #dddddd;
			  -moz-border-radius: 3px;
  			-webkit-border-radius: 3px; 
				border-radius : 3px;
				margin-bottom : 10px;		
			}
		
	div.projects div.projects-right-column{
		width : 35%;
		overflow : hidden;
		float : right;	
		margin-right : -2px;
	}

	/************************ 3-columns layout ****************************/
	div.projects div.projects-left-column-3{
		width : 50%;
		overflow : hidden;
		float : left;
		clear : right;
		border-right : 1px solid black;
	}

	div.projects div.projects-middle-column-3{
		width : 25%;
		overflow : hidden;
		float : left;
		clear : right;	
		margin-right : -2px;
		border-right : 1px solid black;
	}
	
	div.projects div.projects-right-column-3{
		width : 25%;
		overflow : hidden;
		float : right;	
		margin-right : -2px;
	}
	