<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$ -->
<form>
	<fields>
		<field name="lock" type="radio"
			default="0"
			description="Messages_Field_Lock_Desc"
			label="Messages_Field_Lock_Label"
		>
			<option value="1">JYes</option>
			<option value="0">JNo</option>
		</field>

		<field name="mail_on_new" type="radio"
			default="1"
			description="Messages_Field_Mail_on_New_Desc"
			label="Messages_Field_Mail_on_New_Label"
		>
			<option value="1">JYes</option>
			<option value="0">JNo</option>
		</field>

		<field name="auto_purge" type="text"
			class="inputbox"
			default="7"
			description="Messages_Field_Auto_Purge_Desc"
			label="Messages_Field_Auto_Purge_Label"
			size="6"
		/>
	</fields>
</form>