/* grey */
body.grey {
	background: #666;
}

body.grey div#header {
	background: url(images/jos_header_t_grey.png) 0 0 repeat-x;
}

body.grey div#header_l {
	background: url(images/jos_header_tl_grey.png) 0 0 no-repeat;
}

body.grey div#header_r {
	height: 110px;
	background: url(images/jos_header_tr_grey.png) 100% 0 no-repeat;
}

body.grey div#footer {
	background: url(images/jos_shadow_b_grey.png) 0 0 repeat-x;
}

body.grey div#footer_l {
	background: url(images/jos_shadow_bl_grey.png) 0 0 no-repeat;
}

body.grey div#footer_r {
	height: 52px;
	background: url(images/jos_shadow_br_grey.png) 100% 0 no-repeat;
}

body.grey div#wrapper {
	background: #F7F7F7 url(images/jos_shadow_l_grey.png) 0 0 repeat-y;
}

body.grey div#wrapper_r {
	background: url(images/jos_shadow_r_grey.png) 100% 0 repeat-y;
}
