<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="basic">
			
	</fieldset>		
	
	<fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules"	type="rules" label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules" component="com_projects"	section="component"/>
	</fieldset>
		
	<fieldset name="guest_tools"
		label="JCONFIG_ACCESS_LABEL"
		description="JCONFIG_ACCESS_DESC">
			
		<field name="view_tickets"
			type="radio"
			label="can_view_tickets"
			description="What public guests can do"
			class="inputbox"
			size="1"
			default="0">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="view_tasks"
			type="radio"
			label="can_view_tasks"
			description="What public guests can do"
			class="inputbox"
			size="1"
			default="0">
			<option	value="0">JNO</option>
			<option	value="1">Featured only</option>
			<option	value="1">JALL</option>
		</field>

		<field name="view_documents"
			type="radio"
			label="view_documents"
			description="What public guests can do"
			class="inputbox"
			size="1"
			default="0">
			<option	value="0">JNO</option>
			<option	value="1">Featured only</option>
			<option	value="1">JALL</option>
		</field>
		
		<field name="view_activities"
			type="radio"
			label="can_view_activities"
			description="What public guests can do"
			class="inputbox"
			size="1"
			default="0">
			<option	value="0">JNO</option>
			<option	value="1">Featured only</option>
			<option	value="2">JALL</option>
		</field>
	</fieldset>
	
	<fieldset name="manager_tools"
		label="JCONFIG_ACCESS_LABEL"
		description="JCONFIG_ACCESS_DESC">
	</fieldset>
		
	<fieldset name="worker_tools"
		label="JCONFIG_ACCESS_LABEL"
		description="JCONFIG_ACCESS_DESC">
	</fieldset>
	
	<fieldset name="tester_tools"
		label="JCONFIG_ACCESS_LABEL"
		description="JCONFIG_ACCESS_DESC">
	</fieldset>
</config>
