<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules"	type="rules" label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules" component="com_projects"	section="component"/>	
	</fieldset>

	<fieldset name="basic"
		label="COM_PROJCETS_CONFIGURATION_GENERAL_SETTINGS_LABEL"
		description="COM_PROJCETS_CONFIGURATION_GENERAL_SETTINGS_LABEL">
		
		<field name="style"
			type="filelist"
			label="COM_PROJECTS_CONFIGURATION_SELECT_STYLE_LABEL"
			description="COM_PROJECTS_CONFIGURATION_SELECT_STYLE_DESC"
			directory="media/com_projects/css"
			hide_default="1"
			filter="css" 
			default="default.css" />
						
		<field name="show_back_button"
			type="radio"
			label="COM_PROJECTS_CONFIGURATION_SHOW_BACK_BUTTON_LABEL"
			description="COM_PROJECTS_CONFIGURATION_SHOW_BACK_BUTTON_DESC"
			class="inputbox"
			size="1"
			default="0">
			<option	value="0">JNO</option>
			<option	value="1">JYES</option>
		</field>
		
		<field name="spacer1"
			type="spacer"
			hr="true"
			/>
		
		<field name="number_listers_items"
			type="text"
			label="COM_PROJECTS_CONFIGURATION_NUMBER_LISTERS_ITEMS_LABEL"
			description="COM_PROJECTS_CONFIGURATION_NUMBER_LISTERS_ITEMS_DESC"
			class="inputbox"
			size="5"
			default="5" />

		<field name="listing_tasks"
			type="radio"
			label="COM_PROJECTS_CONFIGURATION_LISTING_TASKS_LABEL"
			description="COM_PROJECTS_CONFIGURATION_LISTING_TASKS_DESC"
			class="inputbox"
			size="1"
			default="1">
			<option	value="0">COM_PROJECTS_CONFIGURATION_LISTING_TASKS_ALL</option>
			<option	value="1">COM_PROJECTS_CONFIGURATION_LISTING_TASKS_PENDING</option>
			<option	value="2">COM_PROJECTS_CONFIGURATION_LISTING_TASKS_FINISHED</option>
			<option	value="-3">COM_PROJECTS_CONFIGURATION_LISTING_TASKS_REPORTED</option>
			<option	value="-2">COM_PROJECTS_CONFIGURATION_LISTING_TASKS_DENIED</option>
		</field>

		<field name="listing_tickets"
			type="radio"
			label="COM_PROJECTS_CONFIGURATION_LISTING_TICKETS_LABEL"
			description="COM_PROJECTS_CONFIGURATION_LISTING_TICKETS_DESC"
			class="inputbox"
			size="1"
			default="1">
			<option	value="0">COM_PROJECTS_CONFIGURATION_LISTING_TICKETS_ALL</option>
			<option	value="-3">COM_PROJECTS_CONFIGURATION_LISTING_TICKETS_REPORTED</option>
			<option	value="1">COM_PROJECTS_CONFIGURATION_LISTING_TICKETS_APPROVED</option>
			<option	value="2">COM_PROJECTS_CONFIGURATION_LISTING_TICKETS_FINISHED</option>
			<option	value="4">COM_PROJECTS_CONFIGURATION_LISTING_TICKETS_ACTIVE</option>
			<option	value="-2">COM_PROJECTS_CONFIGURATION_LISTING_TICKETS_DENIED</option>
		</field>

		<field name="spacer2"
			type="spacer"
			hr="true"
			/>

		<field name="show_tasks"
			type="radio"
			label="COM_PROJECTS_CONFIGURATION_SHOW_TASKS_LABEL"
			description="COM_PROJECTS_CONFIGURATION_SHOW_TASKS_DESC"
			class="inputbox"
			size="1"
			default="0">
			<option	value="0">JNO</option>
			<option	value="1">JYES</option>
		</field>

		<field name="show_tickets"
			type="radio"
			label="COM_PROJECTS_CONFIGURATION_SHOW_TICKETS_LABEL"
			description="COM_PROJECTS_CONFIGURATION_SHOW_TICKETS_DESC"
			class="inputbox"
			size="1"
			default="0">
			<option	value="0">JNO</option>
			<option	value="1">JYES</option>
		</field>

		<field name="show_documents"
			type="radio"
			label="COM_PROJECTS_CONFIGURATION_SHOW_DOCUMENTS_LABEL"
			description="COM_PROJECTS_CONFIGURATION_SHOW_DOCUMENTS_DESC"
			class="inputbox"
			size="1"
			default="0">
			<option	value="0">JNO</option>
			<option	value="1">JYES</option>
		</field>
		
		<field name="show_members"
			type="radio"
			label="COM_PROJECTS_CONFIGURATION_SHOW_MEMBERS_LABEL"
			description="COM_PROJECTS_CONFIGURATION_SHOW_MEMBERS_DESC"
			class="inputbox"
			size="1"
			default="0">
			<option	value="0">JNO</option>
			<option	value="1">JYES</option>
		</field>

		<field name="spacer3"
			type="spacer"
			hr="true"
			/>

		<field name="use_content_plugins_portfolios"
			type="radio"
			label="COM_PROJECTS_CONFIGURATION_USE_CONTENT_PLUGINS_PORTFOLIOS_LABEL"
			description="COM_PROJECTS_CONFIGURATION_USE_CONTENT_PLUGINS_PORTFOLIOS_DESC"
			class="inputbox"
			size="1"
			default="1">
			<option	value="0">JNO</option>
			<option	value="1">JYES</option>
		</field>

		<field name="use_content_plugins_projects"
			type="radio"
			label="COM_PROJECTS_CONFIGURATION_USE_CONTENT_PLUGINS_PROJECTS_LABEL"
			description="COM_PROJECTS_CONFIGURATION_USE_CONTENT_PLUGINS_PROJECTS_DESC"
			class="inputbox"
			size="1"
			default="1">
			<option	value="0">JNO</option>
			<option	value="1">JYES</option>
		</field>

		<field name="use_content_plugins_documents"
			type="radio"
			label="COM_PROJECTS_CONFIGURATION_USE_CONTENT_PLUGINS_DOCUMENTS_LABEL"
			description="COM_PROJECTS_CONFIGURATION_USE_CONTENT_PLUGINS_DOCUMENTS_DESC"
			class="inputbox"
			size="1"
			default="1">
			<option	value="0">JNO</option>
			<option	value="1">JYES</option>
		</field>

		<field name="use_content_plugins_tasks"
			type="radio"
			label="COM_PROJECTS_CONFIGURATION_USE_CONTENT_PLUGINS_TASKS_LABEL"
			description="COM_PROJECTS_CONFIGURATION_USE_CONTENT_PLUGINS_TASKS_DESC"
			class="inputbox"
			size="1"
			default="1">
			<option	value="0">JNO</option>
			<option	value="1">JYES</option>
		</field>
	</fieldset>
	
	<fieldset name="menu"
		label="COM_PROJECTS_CONFIGURATION_MENU_SETTINGS_LABEL"
		description="COM_PROJECTS_CONFIGURATION_MENU_SETTINGS_DESC">
		<field
				name="menutype"
				type="menu"
				label="COM_PROJECTS_FIELD_MENUTYPE_LABEL"
				description="COM_PROJECTS_FIELD_MENUTYPE_DESC" />
	</fieldset>
</config>
